[Desktop Entry]
Name=KWin Window Tabbing
Comment=A script for window tabbing.
Icon=preferences-system-windows-script-test

Type=Service

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KWin-Border-Activate=false
X-KDE-PluginInfo-Author=Aziroshin
X-KDE-PluginInfo-Email=aziroshin@gmx.net
X-KDE-PluginInfo-Name=kwin-window-tabbing
X-KDE-PluginInfo-Version=0.0.1

X-KDE-PluginInfo-License=GPL-2.0-only
X-KDE-ServiceTypes=KWin/Script
X-KDE-PluginKeyword=kwin-window-tabbing
